.Chat {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right : 0;
    bottom: 0;

  }
  .chatHeader
  {
    background-color:#146A7C;
  }
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .container
  {
    display:flex;
    width:100%;
  }
  
  .app{
    display:flex;
  
  
  }
  
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form input[type="text"] {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  .form input[type="submit"] {
    padding: 5px;
    height: 30px;
    border: none;
    background-color: #187dbc;
    color: #fff;
  }
  
  .form input[type="submit"]:hover {
    border: #fff;
    cursor: pointer;
    background-color: #000;
    color: #fff;
  }
  .error{
    color: red;
    font-size: 10px;
    text-align: center;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .message {
    font-size: 15px !important;
  }
  
  body {
    font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Lato,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 50px);
    grid-gap: 3px;
    margin-top: 15px;
    
  }
  
  .group {
    background: #4eb5e5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 190;
    border-radius: 5px;
  }
  .chatHeader
  {
    color:#fafafa;
    padding:10px;
    font-weight: 400;
    height:50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
  }
  .botIcon
  {
    display:flex;
    position:absolute;
  }
  
  .chatTitle
  {
    font-size: 20px;
  
  }
  
  .chatWindow {
   bottom: 0px;
   margin-top:300px;
   margin-right:20px;
    height:400px;
    display: grid;
    box-shadow: -3px 15px 15px 5px rgb(0 0 0 / 8%), 0 20px 0px -2px rgb(0 0 0 / 4%);
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 190;
    background: #ebf6f7;
    border-radius: 5px;
  }
  .chatInputWrapper {
    display: grid;
    grid-row-start: 190;
    grid-row-end: 190;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  
  .chat {
    overflow: 'auto';
  
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 5px 0;
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 600px;
    overflow: scroll;
    scroll-behavior: smooth;
    
  }
  .botChat li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  
  .userChat li {
    padding: 0.5rem;
    overflow: hidden;

    
    color: #E9E5E5;
  
  }
  .other .msg {
    order: 1;
    border-top-left-radius: 0px;
    
    box-shadow: -1px 2px 0px #d4d4d4;
  }
  .other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  
  .self {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #d4d4d4;
  }
  .self .avatar {
    order: 2;
  }
  .self .avatar:after {
    content: "";
    position: relative;
    display: inline-block;
    bottom: 19px;
    right: 0px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 0px 2px 0px #d4d4d4;
  }
   .msg {
    background: white;
    min-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  }
  .userChat .msg {

    min-width: fit-content;
    padding: 10px;
    display:right;
    border-radius: 10px;
    background-color: #45a6ba;
    color:white;
    display: inline-block;
    max-width: 200px;
    float:right;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.07);
  }
  
  .botChat .msg {
    min-width: fit-content;
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    display: inline-block;
    max-width: 200px;
    float:left;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
  }
  .msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: rgb(81, 84, 255);
  }
  .msg img {
    position: relative;
    display: block;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #eee;
    transition: all 0.4s cubic-bezier(0.565, -0.26, 0.255, 1.41);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  @media screen and (max-width: 800px) {
    .msg img {
      width: 300px;
    }
  }
  @media screen and (max-width: 550px) {
    .msg img {
      width: 200px;
    }
  }
  
  .msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .msg time:before {
    content: " ";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
  }
  
  ::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(48, 87, 158);
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0px 0px 3px #888;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0px 0px 3px #7f7f7f;
  }
  
  ::-webkit-scrollbar-button {
    display: block;
    height: 26px;
  }
  
  /* T Y P E */
  .textarea {
    width: 80%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
    
  }
  
  .inputMsg
  {
    background-color: white;
  
  }